# Python 기초

### python version

In [ ]:
# python system 기능을 사용하기 위해 사용하는 라이브러리
import sys

# "Python version" 이라는 문자열을 출력
print("Python version")

# sys.version에 저장되어있는 값을 출력
print (sys.version)
 
# "Version info." 이라는 문자열을 출력
print("Version info.")

# sys.version_info에 저장되어있는 값을 출력
print (sys.version_info)

## 변수

### 문자열 출력

In [ ]:
print('딥러닝 활용')
print('셀 실행은 shift + Enter')

### 문자열 변수 할당

In [ ]:
title ='딥러닝 활용'
command_string='셀 실행은 shift + Enter'
print(title)
print(command_string)

### 변수이름 명명 법
- class 이름 : pascal case(파스칼 표기법)

  `Title, CommandString`
- 상수 : 대문자

  `TITLE, COMMAND_STRING`
- 변수 or 함수 : snake case or pothole case

  `title, title_string`

## 배열, numpy, pandas

### 배열(list)

In [ ]:
sample_array = ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
print(sample_array)

In [ ]:
sample_array2 = []
sample_array2.append('a')
sample_array2.append('b')
sample_array2.append('c')
sample_array2.append('d')
sample_array2.append('e')
sample_array2.append('f')

In [ ]:
print(sample_array2)

In [ ]:
len(sample_array2)

In [ ]:
sample_array2.sort(reverse=True)

In [ ]:
print(sample_array2)

### 배열의 색인

In [ ]:
# [0:3] : 0 <= 색인 < 3
print(sample_array[0:3])
# [3:] : 3<= 색인 <= 끝
print(sample_array[3:])
# [:3] : 시작 <= 색인 < 3
print(sample_array[:3])

### 배열 정보

In [ ]:
# 형변환(type cast)
# 문자열과 다른 유형의 변수의 연산은 다른 유형의 변수를 문자열로 변경한다.
array_length = len(sample_array)
array_type = type(sample_array)

# 배열의 길이
print('length : ' + str(array_length))
# 변수의 타입
print('type: ' + str(array_type))

print('type: ' + str(type(command_string)))

### range(start,end)
start, end까지 값을 가지는 range

list(range(start,end)) 값을 통해서 array값을 생성

In [ ]:
simple_array = list(range(0,20))

In [ ]:
print(simple_array)

### numpy
대부분의 python 데이터는 numpy 데이터로 처리된다.

In [ ]:
!pip3 install numpy

In [ ]:
# np 라는 이름으로 사용한다(관례)
import numpy as np

In [ ]:
np_array = np.array(simple_array)

In [ ]:
np_array

In [ ]:
print(type(np_array))

- 차원 변경
  - reshape(n,m) : row n, column m의 차원으로 변경
  - reshape(-1, m) : column m 차원으로 row를 자동으로 변경
  - reshape(-1,) : 1차원 으로 변경

In [ ]:
np_4_5 = np_array.reshape(4,5)

In [ ]:
np_4_5

In [ ]:
np_1_20 = np_4_5.reshape(1, 20)

In [ ]:
np_1_20

In [ ]:
np_1 = np_1_20.reshape(-1,)

In [ ]:
np_1

- numpy 연산

In [ ]:
x = np.array(range(1,4))

In [ ]:
x

In [ ]:
y = np.array(range(5,8))

In [ ]:
y

In [ ]:
x+y

In [ ]:
x*y

In [ ]:
x*2*y

### pandas
데이터 분석 및 조회를 쉽게 사용 하는 라이브러리, 
표 형태로 이용한다
- Series : 1차원
- DataFrame : 2차원
- Panel : 3차원

In [ ]:
!pip3 install pandas

In [ ]:
# pd라는 이름으로 사용한다(관례상)
import pandas as pd

- series

In [ ]:
sr = pd.Series(['A', 'B+', 'A+', 'B'],
       index=["과목1", "과목2", "과목3", "과목4"])

In [ ]:
print(sr)

In [ ]:
sr_values = sr.values

In [ ]:
print(sr_values)

In [ ]:
type(sr_values)

In [ ]:
sr_index = sr.index

In [ ]:
print(sr_index)

In [ ]:
sr1 = pd.Series(sr_values, index=sr_index)

In [ ]:
print(sr1)

- dataframe

In [ ]:
import pandas as pd
data = [
    ['1', 'a', 90.72], 
    ['2', 'b', 78.09], 
    ['3', 'c', 98.43], 
    ['4', 'd', 64.19], 
    ['5', 'e', 81.30],
    ['6', 'f', 99.14],
]
df = pd.DataFrame(data)
df

In [ ]:
df = pd.DataFrame(data, columns=['학번', '이름', '점수'])

In [ ]:
df

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df['이름']

- 외부 데이터 읽기

In [ ]:
df=pd.read_json('sample_data/anscombe.json')

In [ ]:
df

In [ ]:
df1 = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
df1

- 조건 검색

In [ ]:
df1.loc[df1['median_house_value'] > 100000 ]

In [ ]:
df1.loc[(df1['median_house_value'] > 100000) & (df1['housing_median_age'] < 20.0) ]

## Tuple
- `(val1, val2)`
- list와 다른점 : 값을 변경할 수 없다.

In [ ]:
|sample_tuple = ()
sample_tuple = 1,2,3
print(sample_tuple)

### packing, unpacking
- packing
  - `sample_tuple = 1,2,3`
- unpacking
  - `result_1, result_2, result_3 = sample_tuple`

In [ ]:
result_1, result_2, result_3 = sample_tuple

In [ ]:
result_1, result_2, result_3

## dictionary
- `sample_dic = {key1:value1, key2:value2, ...}`
- `value1 = sample_dic['key1']`
- `sample_dic['key9']=value9`
- `del sample_dic['key9']`

In [ ]:
sample_dic = {1:'a', 2:'b', 3:'c'}

In [ ]:
print(sample_dic)

In [ ]:
print(sample_dic[1])

In [ ]:
sample_dic[9] = 'z'

In [ ]:
print(sample_dic)

In [ ]:
del sample_dic[9]

In [ ]:
print(sample_dic)

###  function
  - `sample_dic.values()`
  - `sample_dic.keys()`
  - `sample_dic.items()`
  - `sample_dic.get(1)`
  - `3 in sample_dic`
  - `9 in sample_dic`

In [ ]:
sample_dic.values()

In [ ]:
sample_dic.keys()

In [ ]:
sample_dic.items()

In [ ]:
sample_dic.get(1)

In [ ]:
3 in sample_dic

In [ ]:
9 in sample_dic

## 제어문

### if문
``` 
if(condition) :
    print(condition)
else :
    print(condition)
```

In [ ]:
if 3 in sample_dic:
    print('3 in the sample_dic')
else:
    print('3 not in the sample_dic')

### while
```
condition = True
index = 0
while condition:
    print(index)
    index += 1
    if index == 5:
        condition = True
```

In [ ]:
condition = True
index = 0
while condition:
    print(index)
    index += 1
    if index == 5:
        condition = False

### for
```
sample_list = [1,2,3,4,5,6,7,8,9]
for i in sample_list:
    print(i)  
```

In [ ]:
sample_list = [1,2,3,4,5,6,7,8,9]
for i in sample_list:
    print(i)

```
sample_tuple_list = [(1,2), (3,4), (5,6), (7,8), (9, 10)]
for (i,j) in sample_tuple_list:
    print(i, j)
```

In [ ]:
sample_tuple_list = [(1,2), (3,4), (5,6), (7,8), (9, 10)]
for (i,j) in sample_tuple_list:
    print(i, j)


```
for i in range(2,19):
    for j in range(2, 19):
          print("2d*2d=4d" % (i, j, i*j) 
    
```

In [ ]:
for i in range(2,19):
    for j in range(2, 19):
          print("%2d*%2d=%4d" %  (i, j, i*j ) )

# 실습

- 명령구문아래에 동일한 코드 paragraph를 추가하여 실행해봅니다